<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css">
    <title>{% block title %}Admin Panel{% endblock %}</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="alert-container">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-primary sidebar ">
                <h2 class="text-white p-3">ADMIN</h2>
                <ul class="nav flex-column text-white">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ url_for('admin_dashboard') }}">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" href="#productsMenu" role="button" aria-expanded="false" aria-controls="productsMenu" onclick="closeAllCollapses()">
                            Products
                        </a>
                        <div class="collapse" id="productsMenu">
                            <ul class="list-unstyled">
                                <li><a class="nav-link text-white" href="{{ url_for('add_product') }}" >Add Product</a></li>
                                <li><a href="{{ url_for('manage_products') }}" class="nav-link text-white">Manage Products</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" href="#reviewsMenu" role="button" aria-expanded="false" aria-controls="reviewsMenu" onclick="closeAllCollapses()">
                            Reviews
                        </a>
                        <div class="collapse" id="reviewsMenu">
                            <ul class="list-unstyled">
                                <li><a class="nav-link text-white" href="{{ url_for('add_review') }}">Add Review</a></li>
                                <li><a class="nav-link text-white" href="{{ url_for('manage_reviews') }}">Manage Reviews</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white dropdown-toggle" data-bs-toggle="collapse" href="#customermenu" onclick="closeAllCollapses()" role="button" aria-expanded="false" aria-controls="customermenu">
                            Customers
                        </a>
                        <div class="collapse" id="customermenu">
                            <ul class="list-unstyled">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="{{ url_for('manage_customers') }}">Manage Customers</a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('registered_users') }}">Registered Users</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>

            <!-- Main content -->
            <div class="col-md-10 p-5">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    <!-- JS and Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
